.itemsList__container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.options__container {
    margin-left: 130px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.itemsList__search {
    position: relative;
    margin: 50px auto;
    display: flex;
    width: 100%;
}


.itemsList__list {
    width: 95%;
    overflow: auto;
    height: 400px;
}

.itemsList__list::-webkit-scrollbar {
    width: 4px;
    padding-left: 4px;
}

.itemsList__list::-webkit-scrollbar-thumb {
    background: #BDCBE0;
    border-radius: 50px;
}

.options__item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
}

.item__current {
    position: relative;
    width: 450px;
    height: 70px;
}

.options__quantity {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 40px;
    height: 53px;
    width: 320px;
}

.quantity__counter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 60px;
}

.options__buttons {
    position: relative;
    min-width: 450px;
    margin-left: -10px;
}

.options__noItem {
    font-family: "Open Sans", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 23px;
    display: flex;
    justify-content: center;
    letter-spacing: -1px;
    color: #606F7A;
    margin-top: 200px;
}
.item__container{
    display: flex;
    height: 97px;
    width: 100%;
    background: #F8FAFF;
    border: 1px solid #E2E4EA;
    box-sizing: border-box;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    padding-right: 20px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 17px;
    letter-spacing: -1px;
    color: #606F7A;
}
