.contactData{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 100px;
}
.contacts{ display: flex;
    flex-direction: column;
    color: #606F7A;
}
.contacts:first-child{
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;

}
.contacts__container{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}
.contacts__container p{
    width: 45%;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 23px;
}
.social{
    display: flex;
    flex-direction: column;
    color: #606F7A;
}
.social__container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}
.social p{
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;


}

.social__container div{
    display: flex;
    align-items: center;
    margin-bottom: 100px;
    margin-right: 30px;
    width: 45%;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 23px;
}
.social__container div img{
    margin-right: 50px;
}