.redCross{
    font-family: "Open Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background: #fff;
    color: red;
    width: 15px;
    height: 15px;
    font-weight: 400;
    font-size: 30px;
    line-height: 17px;
}
.hint{
    box-sizing: border-box;
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    background: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: .2px;
    justify-content: space-between;
    color: #5DAAFF;
    box-shadow: 0 4px 40px rgba(93, 170, 255, 0.1);
}
