.container{
    display: flex;
    height: 97px;
    width: 100%;
    background: #F8FAFF;
    border: 1px solid #E2E4EA;
    box-sizing: border-box;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    padding-right: 20px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 17px;
    letter-spacing: -1px;
    color: #606F7A;
}
.blueButton{
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 17px;
    color: #FFFFFF;
    margin-left: 10px;
    border: 0;
    width: 140px;
    height: 50px;
    background: #5DAAFF;
    box-shadow: 0 4px 40px rgba(93, 170, 255, 0.29);
    border-radius: 3px;
}
.blueButton:hover{
    background: #2876CC;
}
.whiteButton{
    font-size: 17px;
    line-height: 17px;
    color: #5DAAFF;
    margin-left: 10px;
    border: 0;
    width: 140px;
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0 4px 40px rgba(93, 170, 255, 0.29);
    border-radius: 3px;
}
.container img{
    border-radius: 10px;
    height: 100%;
}
