.container {
    max-height: 420px;
    overflow: scroll;
    margin-right: -4px;
    padding: 0;
}

.container::-webkit-scrollbar{
    width: 4px;
    height: 0;
}
.container::-webkit-scrollbar-thumb{
    background: #BDCBE0;
    border-radius: 50px;

}
.item{
    width: 100%;
    display: flex;
    align-self: flex-end;
    height: 80px;
    border-radius: 5px;
    margin-bottom: 5px;
}
.item__description{
    min-width: 30%;
    display: flex;
    align-items: center;
    background: #F8FAFF;
    border-right: 1px solid #E2E4EA;

}
.item__description p{
 text-align: center;
    width: 100%;
}
.item__description img{
    height: 100%;
    justify-self: flex-start;
    border-right: 2px solid #E2E4EA;
}
.quantity, .netto,.netto__input, .brutto, .volume, .cost, .remove{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F8FAFF;
    border-right: 2px solid #E2E4EA;
    width: 18%;
}
.remove button{
    font-family: "Open Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background: #fff;
    color: red;
    width: 15px;
    height: 15px;
    font-weight: 400;
    font-size: 30px;
    line-height: 17px;
}
.quantity:hover::after, .netto:hover::after, .brutto:hover::after, .volume:hover::after, .cost:hover::after {
    content: url("../../img/edit.svg");
    position: absolute;
    width: 20px;
    height: 20px;
    top: 40%;
    right: 10%;
}
