.App {
    background: #EFF3F9;
    min-width: 200px;
    min-height: 100vh;
    overflow: auto;
}

.app__header {
    display: flex;
    align-items: center;
    padding: 50px 100px;
    position: relative;
}
.mobile__header, .menu__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 40px;
}

.start {
    background: url("../img/background.png") no-repeat;
    background-size: 110% 115%;
    width: 100%;
    height: 100vh;
    min-height: inherit;
}

.mainText {
    margin-top: 100px;
}

.mainInputsRow, .upperText {
    position: relative;
    display: flex;
    min-width: 50%;
}

.main__inputs {
    position: relative;
    display: flex;
    background-color: #FFFFFF;
}

#cityRussia {
    size: 60px;
}

.arrow {
    height: 15px;
    width: 15px;
    transition: transform .5s ease;
}

.arrow.active {
    transform: rotate(180deg);
}

.mobile__edit {
    box-sizing: border-box;
    position: relative;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    overflow: auto;
}

.mobile__options {
    box-sizing: border-box;
    position: relative;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    overflow: auto;
}
.loading{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 160px);
}
#ask {
    width: 100%;
    border: 1px solid #B7B7B7;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 10px;
    font-family: "Open Sans", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: .2px;
}