@media screen and (max-width: 1200px) {
    .app__header {
        display: none;
    }

    .main__form {
        display: none;
    }

    .start {
        background: #EFF3F9;
        width: 100%;
        height: 100vh;
        min-height: inherit;
    }

    .basket__container {
        display: none;
    }

    .basket__buttons {
        display: none;
    }

    .feedback {
        display: none;
    }

    .sended {
        display: none;
    }

    .itemsPage__container {
        display: none;
    }

    .total {
        display: none;
    }

    .mobile__list {
        position: relative;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: calc(100vh - 20px);
        overflow: hidden;
    }

    .mobile__main {
        position: relative;
        z-index: 1;
        overflow-x: hidden;
        width: 100%;
        min-height: calc(100vh - 50px);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .mobile__total {
        position: relative;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: calc(100vh - 20px);
        overflow: auto;
    }

    .mobile__sended {
        background: #E5E5E5;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: calc(100vh - 20px);
        overflow: auto;
    }

    .mobile__feedback {
        background: #FFFFFF;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: calc(100vh - 20px);
        overflow: auto;

    }

    .mobile__basket {
        position: relative;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: calc(100vh - 20px);
        overflow: auto;
    }

}

@media screen and (min-width: 1201px) {

    .basket__container {
        margin: 0 100px;
        height: 100%;
    }

    .basket__buttons {
        position: absolute;
        bottom: 50px;
        right: 100px;
    }

    .itemsPage__container {
        display: flex;
        width: 90%;
        margin: 10px auto;
        min-height: 700px;
    }

    .sended {
        display: flex;
        flex-direction: column;
        margin-top: 170px;
        margin-left: 100px;
    }

    .total {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin: 0 100px;
    }

    .feedback {
        display: block;
        margin-left: 100px;
    }

    .mobile__list {
        display: none;
    }

    .mobile__main {
        display: none;
    }

    .mobile__total {
        display: none;
    }

    .mobile__sended {
        display: none;
    }

    .mobile__feedback {
        display: none;
    }

    .mobile__basket {
        display: none;
    }
}