.container{
    margin-left: 100px;
    margin-top: 100px;
    margin-right: 100px;
    height: 100%;
}

.blue__btn{
    font-size: 17px;
    line-height: 17px;
    color: #FFFFFF;
    margin-left: 10px;
    border: 0;
    width: 200px;
    height: 55px;
    background: #5DAAFF;
    box-shadow: 0 4px 40px rgba(93, 170, 255, 0.29);
    border-radius: 3px;
}
.blue__btn:hover{
    background: #2876CC;
}
.bottom__btns{
    position: absolute;
    bottom: 50px;
    right: 100px;
}

.hint__reset{
    right: 420px;
    bottom: 10px;
}
.title{
    display: flex;
    align-items: center;

}
.title h1{
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: -1px;
    color: #606F7A;
}
.table{
    display: flex;
    flex-direction: column;
}
.tableOptions{
    display: flex;
    align-self: flex-end;
    width: 70%;
    height: 80px;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
}
.tableOptions div{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F8FAFF;
    border-right: 2px solid #E2E4EA;
    width: 18%;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    color: #606F7A;
    letter-spacing: -1px;
}
.hint{
    margin-left: 100px;
    width: 600px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0 4px 40px rgba(93, 170, 255, 0.1);
    border-radius: 3px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: .2px;
    padding-left: 20px;
    justify-content: space-around;
    color: #5DAAFF;
}



