.road{
    position: relative;
    margin-left: 60px;
}
.roadBtn{
    width: 260px;
    height: 45px;
    display: block;
    border: 0;
    background: inherit;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 17px;
    color: #606F7A;
}
.roadBtn_edit i{
    margin: 10px 0;
    height: 20px;
    width: 1px;
    background-color: #DEDEDE;
}
.roadBtn_active{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 260px;
    background: #FFFFFF;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 17px;
    color: #606F7A;
}
.roadBtn_active button, .roadBtn_edit button{
    border: 0;
    height: 100%;
    background: inherit;
    border-radius: 5px;
}
.roadBtn_edit{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 370px;
    background: #FFFFFF;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 15px;
    color: #606F7A;
}
.townsList{
    position: absolute;
    background: #FFFFFF;
    top: 42px;
    left: 0;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    width: 25%;
    overflow: auto;
}

.townsList div, .russiaList div, .curList div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    height: 40px;
    color: #606F7A;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;

}
.townsList div:hover, .russiaList div:hover, .curList div:hover{
    color: #FFFFFF;
    background: #2876CC;
    cursor: pointer;
}
.roadBtn_edit input, .roadBtn_edit select{
    padding: 0;
    text-align: center;
    background: #FFFFFF;
    height: 100%;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 10px;
    color: #606F7A;
}

.items:hover{
    opacity: 0.5;
}

.road.hidden{
    display: none;
}

.items{
    margin-left: 60px;
    background: inherit;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 17px;
    color: #606F7A;
}
.roadEdit{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 260px;
    background: #FFFFFF;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 17px;
    color: #606F7A;
}
.items.hidden{
    display: none;
}

.currencyEx, .cityChina, .currency {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 25%;
    border: 0;
    background: #FFFFFF;
}
.cityRussia{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.cityRussia span{
    max-width: 70%;
}
.cityChina:focus{
    outline: none;
}

.arrow{
    transition: transform .5s ease;
}
.arrow.active{
    transform: rotate(180deg);
}
.russiaList{
    position: absolute;
    background: #FFFFFF;
    top: 40px;
    left: 25%;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.04);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 40%;
    height: 0;
    overflow: auto;
    transition: height .2s ease;
}
.russiaList::-webkit-scrollbar, .curList::-webkit-scrollbar{
    display: none;
}

.russiaList.active{
    height: 120px;
}
.curList{
    position: absolute;
    background: #FFFFFF;
    top: 40px;
    left: 65%;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.04);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 25%;
    height: 0;
    overflow: auto;
    transition: height .2s ease;
}
.curList.active{
    height: 80px;
}