.container{
    display: flex;
    width: 90%;
    margin: 10px auto;
    min-height: 700px;
}
.container h2{
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 48px;
    max-width: 600px;
    color: #606F7A;
    letter-spacing: -1px;
}
.itemsList{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.itemOption{
    margin-left: 130px;
    display: flex;
    flex-direction: column;
    width: 50%;
}
.itemsList__search{
    position: relative;
    margin: 50px auto;
    display: flex;
    width: 100%;


}
.itemsList__search input{
    height: 60px;
    width: 400px;
    background: #FFFFFF;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.06);
    border-radius: 3px;
    border: 0;
    font-family: "Open Sans", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    padding-left: 10px;
}
.itemsList__search input::placeholder{
    color: #B7B7B7;
}
.itemsList__search button{
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 17px;
    background: #5DAAFF;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    color: #FFFFFF;
    border: 0;
    width: 120px;
    margin-left: 10px;
}
.itemsList__search button:hover{
    background: #2876CC;
}
.hint{
    position: absolute;
    left: 600px;
    top: -10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    background: #FFFFFF;
    box-shadow: 0 4px 40px rgba(93, 170, 255, 0.1);
    border-radius: 3px;
    width: 460px;
    height: 90px;
    font-family: "Open Sans", serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 23px;
    color: #5DAAFF;
}

.hint p{
    width: 80%;
}
.itemsList__list{
    width: 95%;
    overflow: auto;
    height: 400px;
}
.itemsList__list::-webkit-scrollbar{
    width: 4px;
    padding-left: 4px;
}
.itemsList__list::-webkit-scrollbar-thumb{
    background: #BDCBE0;
    border-radius: 50px;

}
.item__options{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
}
.currentItem{
    position: relative;
    width: 450px;
    height: 70px;
    padding: 0 10px;
}
.quantity{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 40px;
    height: 53px;
    width: 320px;

}
.quantity__counter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 60px;
}
.quantity p{
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 15px;
}
.quantity__counter button{
    width: 53px;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border-radius: 0 3px 3px 0;
    border: 0;
    color: #5DAAFF;
    font-size: 30px;

}
.quantity__counter div{
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 17px;
    background: #FFFFFF;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.04);
    width: 53px;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item__options input{
    width: 320px;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.06);
    border-radius: 3px;
    border: 0;
    margin-bottom: 15px;
    font-family: "Open Sans", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    padding-left: 10px;
}
.optionBtns{
    position: relative;
    min-width: 450px;

}
.optionBtns button{
    background: #5DAAFF;
    border-radius: 5px;
    border: 0;
    width: 210px;
    height: 70px;
    margin-right: 10px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 17px;
    color: #FCFDFF;
}

.hint{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #FFFFFF;
    box-shadow: 0 4px 40px rgba(93, 170, 255, 0.1);
    border-radius: 3px;
    font-family: "Open Sans", serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 23px;
    color: #5DAAFF;
}

.optionBtns button:hover{
    background: #2876CC;
}

.noItems{
    font-family: "Open Sans", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 23px;
    display: flex;
    justify-content: center;
    letter-spacing: -1px;
    color: #606F7A;
    margin-top: 200px;


}