.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 100px);
}
.loading{
    display: flex;
    align-items: center;
}
.loading img{
    animation: spin 2s linear infinite;

}
@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }

}
.loading p{
    font-family: "Open Sans", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;

    letter-spacing: .2px;

    color: #606F7A;

}