

.feedback__header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 90%;
    height: 50px;
    margin-bottom: 30px;
}

.feedback__title {
    width: 90%;
    display: flex;
    font-family: "Open Sans", serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: .2px;
    color: #606F7A;
}

.feedback__ask {
    width: 90%;
}

.feedback__submit {
    width: 90%;
    font-family: "Open Sans", serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .2px;
    color: #B7B7B7;
}

.submit__link {
    color: #606F7A;
    text-decoration: none;
}

.sended__body {
    margin-top: 100px;
    height: calc(100vh - 170px);
    display: flex;
    flex-direction: column;
    width: 90%;
    font-family: "Open Sans", serif;
    font-style: normal;
    color: #606F7A;
    letter-spacing: .2px;
    font-weight: normal;
    font-size: 17px;
    line-height: 25px;
}

.body__img {
    width: 30%;
}

.body__thx {
    font-weight: 600;
    font-size: 23px;
    line-height: 23px;
}