
@media screen and (min-width: 1200px ){
    .container{
        display: none;
    }
}

.search{
    border: 0;
    border-bottom: #606F7A 1px solid;
    max-width: 70%;
    background: #EFF3F9;
    outline: none;
    margin: 0 5px;
    font-family: "Open Sans",serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 15px;
    color: #606F7A;
}
.search::placeholder{
    color: rgba(183, 183, 183, 0.8);
}
.list__wrapper{
    margin-top: 30px;
    overflow: scroll;
    width: 100%;
    height: calc(100vh - 90px);
}
.item__input{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 30px;
}
.item__buttons{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 30px;
    margin-bottom: 10px;
}