.contactData{
    display: flex;
    flex-direction: column;
    width: 45%;
}
.contacts{
    display: flex;
    flex-direction: column;
    color: #606F7A;
}

.contacts__container{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}

.social{
    display: flex;
    flex-direction: column;
    color: #606F7A;
}
.social__container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}